<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<p>
  <strong>Work Force:</strong>
  <%= @project.work_force %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Back', projects_path %>